*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    height: 100vh;
    width: 100%;
    background-color: #0b091f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.main-container img{
    height: 100vh;
    width: 100%;
}
.main-container h1{
   
    color: cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}
.goals{
  
    margin: 1.5rem;
}
.goals li{
    list-style-type: none;
    margin: 0.3rem 0 0 1.5rem;
    color: #00ff37;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-container .goals h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1.5rem;
}
.text-box{
    height: 60vh;
    width: 50%;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.text-box .paragraph{
    color: #00ff37;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.facebook{
    
    padding: 1rem;
    text-align: center;
}
.facebook a{
    text-decoration: none;
    width: 4rem;
}
.facebook .fa {
    color:#00ff37;
    font-weight: 400;
    border: 1px solid #08fff3;
    padding: 0.4rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}
.facebook a:hover{
    transition: 0.5s;
    background: #41ffff;
    box-shadow: 0 0 5px #41ffff;
    color: black;
}


@media only screen and (max-width:600px){
    .main-container .text-box{
        width: 90%;
        height: auto;
    }
}